.button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

.button:hover {
    cursor: pointer;
    font-size: 1.1rem;
    background: whitesmoke;
}